---
layout: simple-title
title: Athletics
---

<div class="uk-margin">
    <div class="uk-container">
        {% capture athletics %}{% include athletics.md %}{% endcapture %}
        {{ athletics | markdownify }}
    </div>
</div>

<div class="uk-background-primary uk-padding">
    <div class="uk-container">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

            <ul class="uk-slideshow-items">
                {% for image in site.data.athletics.images %}
                <li>
                    <img src="{{ image.image }}" alt="" uk-cover>
                </li>
                {% endfor %}
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        
        </div>
    </div>
</div>

<div class="uk-margin uk-container">
    <h3>{{ site.data.athletics.volleyball_title }}</h3>
    <ul>
        {% for game in site.data.athletics.volleyball_games %}
        <li>{{ game.title }}</li>
        {% endfor %}
    </ul>
    <p>{{ site.data.athletics.volleyball_footer }}</p>
</div>