---
layout: simple-title
title: Calendar and Hours
---

<div class="uk-background-secondary uk-padding-large">
    <div class="uk-container">
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-width-1-2@m">
                <img src="assets/images/ch-0.png">
            </div>
            <div class="uk-width-1-2@m">
                <h3>Hours</h3>
                {% capture calendar-and-hours %}{% include calendar-and-hours.md %}{% endcapture %}
                {{ calendar-and-hours | markdownify }} 
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-margin-large">
    <div class="uk-child-width-expand@s" uk-grid>
        <div class="uk-width-1-2@m">
            <h3>School Calendar</h3>
            {% for section in site.data.calendar.sections %}
            {% if section.title %}<h5>{{ section.title }}</h5>{% endif %}
            <ul>
                {% for item in section.events %}
                <li>{{ item.date }}: {{ item.event }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="uk-width-1-2@m">
            <img src="assets/images/ch-1.png">
        </div>
    </div>
</div>