// 1. Your custom variables and variable overwrites.
$global-font-family: 'Open Sans', sans-serif;
$base-heading-font-family: 'Cormorant Garamond', serif;
$global-font-size: 18px;
$global-color: #303030;
$base-body-font-weight: 200;
$global-secondary-background: #efefef;
$global-primary-background: #1d3557;
$global-link-color: $global-primary-background;
$global-link-hover-color: lighten($global-link-color, 10%);
$overlay-primary-background: rgba(#1e1e1e, 0.6);
$inverse-global-color: #fff;
$inverse-global-muted-color: #fff;

// 2. Import default variables and available mixins.
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";

$navbar-background: #ffffff;
// $navbar-nav-item-color: $global-inverse-color;

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }
@mixin hook-navbar(){
    .uk-navbar-nav > li > a {
        text-transform: none;
    }
}

@mixin hook-button-large(){
    font-size: $global-font-size;
    font-weight: 300;
}

@mixin hook-button(){
    border-radius: 3px;
}

@mixin hook-inverse-button-primary(){
    background-color: white;
    transition: .2s;
}

@mixin hook-inverse-button-primary-hover(){
    background-color: #1d3557;
    color: white;
    transition: .2s;
}

@mixin hook-button-primary(){
    background-color: #1d3557;
    transition: .2s;
}

@mixin hook-button-primary-hover(){
    background-color: white;
    color: #1d3557;
    transition: .2s;
}

// 4. Import UIkit.
@import "uikit/uikit-theme.scss";

@media only screen and (max-width: 959px) {
    #header-background {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    #header-content {
        position: static !important;
    }

    #header-content h1 {
        font-size: 2rem;
    }
}

.check-times-day:hover {
    text-decoration: none;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
}